#boxcalendario .tabla {
border-collapse:separate;
border-spacing:3px;
background:#def;
margin:0px auto 0px;
border:1px solid #ccc;
}

#boxcalendario .encabezado {
color:#00f;
font-weight:bold;
font-size:1.3em;
text-align:center;
padding:3px;
}

#boxcalendario .celdaDiaSemana {
padding:3px;
color:#00f;
text-align:center;
}

#boxcalendario .diacita {
font-weight:bold;
color:#f00;
}

#boxcalendario .hoy {
background:#eee;
padding:2px;
text-align:center;
border:1px solid #ccc;
}

#boxcalendario .celda {
background:#fff;
padding:2px;
text-align:center;
border:1px solid #ccc;
}

#boxcalendario .celdacita {
background:#fff;
padding:2px;
text-align:center;
border:1px solid #f00;
}